<% layout('layouts/boilerplate') %>

    <% disabledUser=req.session.disabledUser %>

        <div class="container">
            <div class="d-flex justify-content-center" style="max-width: 100%;">
                <div class="row justify-content-center">
                    <div class="col-8 border rounded border-dark p-4 mb-4 mt-5">
                        <div class="text-center mb-4 border-bottom border-dark">
                            <h1 class="h1">
                                <%= disabledUser.displayName %> has been successfully disabled
                            </h1>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <h5>
                                        <u>Job Title:</u>
                                        <%= disabledUser.description %>
                                    </h5>
                                </div>
                                <div class="mb-3">
                                    <h5>
                                        <u>Email Address:</u>
                                        <%= disabledUser.mail %>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <h4><u>Email Groups:</u></h4>
                                </div>
                                <div class="col-4">
                                    <ul>
                                        <% for (let group of disabledUser.groups) { %>
                                            <li>
                                                <%= group %>
                                            </li>
                                            <% } %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="/create" class="btn btn-primary">Create Another User</a>
                    </div>
                </div>
            </div>
        </div>