<% layout('layouts/boilerplate') %>

    <div class="row d-flex justify-content-center" style="max-width: 100%;">

        <div class="border rounded border-dark col-6 p-4 mt-5">
            <div class="row text-center mb-4 border-bottom border-dark">
                <h1 class="h1">Create a New User Account</h1>
            </div>

            <form action="/create" method="post">
                <div class="row mb-3">
                    <div class="col mx-auto mb-3">
                        <label class="form-label" for="firstName">First Name:</label>
                        <input class="form-control" type="text" id="firstName" name="newUser[firstName]">
                    </div>
                    <div class="col mx-auto">
                        <label class="form-label" for="lastName">Last Name:</label>
                        <input class="form-control" type="text" id="lastName" name="newUser[lastName]">
                    </div>
                    <div class="col mx-auto">
                        <label for="emailDomain" class="form-label">Email Domain:</label>
                        <select id="emailDomain" name="newUser[emailDomain]" class="form-select">
                            <option selected value="@whitesrfs.org">@whitesrfs.org</option>
                            <option value="@compassroseacademy.org">@compassroseacademy.org</option>
                        </select>
                    </div>
                    <div class="row mb-3">
                        <div class="col mx-auto">
                            <label for="office" class="form-label">Office:</label>
                            <select id="office" name="newUser[office]" class="form-select">
                                <option selected value="undefined">---</option>
                                <option value="Compass Rose Academy">Compass Rose</option>
                                <option value="Crown Point">Crown Point</option>
                                <option value="Fort Wayne">Fort Wayne</option>
                                <option value="Greenwood">Greenwood</option>
                                <option value="Indianapolis">Indianapolis</option>
                                <option value="Recovery Services">Recovery Services</option>
                                <option value="South Bend">South Bend</option>
                                <option value="Volunteers & Interns">Volunteers & Interns</option>
                                <option value="Wabash">Wabash</option>
                            </select>
                        </div>
                        <div class="col mx-auto">
                            <label for="jobTitle" class="form-label">Job Title:</label>
                            <select id="jobTitle" name="newUser[jobTitle]" class="form-select">
                                '<option value="undefined">Please Select an Office</option>'
                                <!-- <option value="cm.template">Case Manager</option>
                                <option value="crarft.template">Compass Rose Family Teacher</option>
                                <option value="crteach.template">Compass Rose School Teacher</option>
                                <option value="fp.template">Family Preservation</option>
                                <option value="fs.template">Family Specialist</option>
                                <option value="fs.intern">Intern (Family Specialist)</option>
                                <option value="residential.intern">Intern (Residential)</option>
                                <option value="ycs.template">Night Shift/YCS</option>
                                <option value="recoveryrft.template">Recovery Services</option>
                                <option selected value="rft.template">Residential Family Teacher</option>
                                <option value="rts.template">Residential Teaching Specialist</option>
                                <option value="sa.template">Store Associate</option> -->
                            </select>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row col-3 mx-auto">
                    <button class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <script src="/js/populateMenus.js"></script>