<% layout('layouts/boilerplate') %>

    <div class="row d-flex justify-content-center" style="max-width: 100%;">

        <div class="border rounded border-dark col-6 p-4 mt-5">
            <div class="row text-center mb-4 border-bottom border-dark">
                <h1 class="h1">Create a New User Account</h1>
            </div>

            <form action="/create" class="validatedForm" method="post" id="form">
                <div class="row mb-3">
                    <div class="col mx-auto mb-3">
                        <label class="form-label" for="firstName">First Name:</label>
                        <input class="form-control" type="text" id="firstName" name="newUser[firstName]" required>
                    </div>
                    <div class="col mx-auto">
                        <label class="form-label" for="lastName">Last Name:</label>
                        <input class="form-control" type="text" id="lastName" name="newUser[lastName]" required>
                    </div>
                    <div class="col mx-auto">
                        <label for="emailDomain" class="form-label">Email Domain:</label>
                        <select id="emailDomain" name="newUser[emailDomain]" class="form-select">
                            <option selected value="@domain.com">@domain.com</option>
                            <option value="@alternatedomain.org">@alternatedomain.org</option>
                        </select>
                    </div>
                    <div class="row mb-3">
                        <div class="col mx-auto">
                            <label for="office" class="form-label">Office:</label>
                            <select id="office" name="newUser[office]" class="form-select" required>
                                <option selected disabled value="">---</option>
                                <option value="Main Office">Main Office</option>
                                <option value="Regional Office One">Regional Office One</option>
                                <option value="Regional Office Two">Regional Office Two</option>
                                <option value="Regional Office Three">Regional Office Three</option>
                                <option value="Regional Office Four">Regional Office Four</option>
                            </select>
                        </div>
                        <div class="col mx-auto">
                            <label for="jobTitle" class="form-label">Job Title:</label>
                            <select id="jobTitle" name="newUser[jobTitle]" class="form-select" required>
                                '<option selected disabled value="">Please Select an Office</option>'
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-7 mx-auto">
                            <label for="newUser[supervisorEmail]" class="form-label">Supervisor Email Address:</label>
                            <input type="email" id="supervisorEmail" name="newUser[supervisorEmail]"
                                class="form-control" required>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row col-3 mx-auto">
                    <button class="btn btn-success" id="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <script src="/js/populateMenus.js"></script>
    <script src="/js/loadingSpinner.js"></script>