<% layout('layouts/boilerplate') %>

    <div class="row d-flex justify-content-center" style="max-width: 100%;">

        <div class="border rounded border-dark col-4 p-4 mt-5">
            <div class="row text-center mb-4 border-bottom border-dark">
                <h1 class="h1">Disable a User Account</h1>
            </div>
            <form action="/create/confirmDisable" class="validatedForm" method="POST" novalidate>
                <div class="row mb-3">
                    <div class="col mx-auto">
                        <label for="userName" class="form-label">Username:</label>
                        <input type="text" placeholder="Username" name="disable[userName]" id="userName"
                            class="form-control" required>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-3 mx-auto">
                        <button class="btn btn-danger">Disable User</button>
                    </div>
                </div>
            </form>
        </div>
    </div>