<% layout('layouts/boilerplate') %>

    <div class="row d-flex justify-content-center" style="max-width: 100%;">

        <div class="border rounded border-dark col-6 p-4 mt-5">
            <div class="row text-center mb-4 border-bottom border-dark">
                <h1 class="h1">Hardware Request</h1>
            </div>
            <div class="text-center">
                <h4>This form will submit a ticket on your behalf at http://itsupport</h4>
            </div>
            <form action="/create/technologyRequest" method="POST" id="technologyRequestForm"
                class="form-control border-0">
                <div class="justify-content-start mt-3 mb-3">
                    <div class="mt-3 mb-3">
                        <p>Common requests for initial user setup include:
                        <ul>
                            <li>Laptop</li>
                            <li>Wireless keyboard and mouse</li>
                            <li>Dual monitors with dock and stand</li>
                            <li>External speakers</li>
                            <li>External webcam</li>
                        </ul>
                        </p>
                    </div>
                    <textarea name="hardwareRequest" id="hardwareRequest" class="form-control" rows="8"
                        placeholder="Enter all requested hardware for <%= newUserFullDetails.commonName %> here..."></textarea>
                </div>
                <div class="text-center">
                    <button class="btn btn-lg btn-success">Submit</button>
                </div>
            </form>