<% layout('layouts/boilerplate') %>

    <h1>Create a New User</h1>
    <form action="/create" method="post">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="newUser[firstName]">
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="newUser[lastName]">
        <label for="emailDomain">Email Domain:</label>
        <input type="text" id="emailDomain" name="newUser[emailDomain]">
        <button>Submit</button>
    </form>