<% layout('layouts/boilerplate') %>

    <div class="row d-flex justify-content-center" style="max-width: 100%;">

        <div class="border rounded border-dark col-6 p-4 mt-5">
            <div class="row text-center mb-4 border-bottom border-dark">
                <h1 class="h1">You are not authorized to access this system</h1>
            </div>
            <div class="row text-center mb-3">
                <h5>This incident has been reported.</h5>
            </div>